<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="100">
  	<setting id="test_connection" type="action" label="99" action="RunScript(script.xbmc.hue,action=test_connection)" />
  	<setting id="discover_bridge" type="action" label="101" action="RunScript(script.xbmc.hue,action=discover)" />
  	<setting id="bridge_ip" type="text" label="102" enable="!eq(-1,true)" default="-" />
  	<setting id="bridge_user" type="text" label="103" enable="!eq(-1,true)" default="-" />
  	<setting id="sep1" type="sep" />
      <setting id="group_1" type="bool" label="150" default="true" />
      <setting id="group_2" type="bool" label="151" default="true" />
      <setting id="group_3" type="bool" label="152" default="true" />
    <setting id="sep2" type="sep" />
    <setting id="misc_initialflash" type="bool" label="310" default="true" />
  </category>
</settings>